## python basics

In [1]:
1+2

3

1+2

In [2]:
1+2

3

In [3]:
## markdown use
rohit

NameError: name 'rohit' is not defined

In [4]:
## markdown use
## choose markdown in above option
rohit

NameError: name 'rohit' is not defined

## markdown use
## choose markdown in above option
rohit

In [5]:
4%2

0

In [6]:
## using code above
4%2

0

In [7]:
4/2

2.0

In [8]:
5//2

2

In [9]:
5/2

2.5

In [10]:
## 5//2 - will not consider decimal

In [11]:
## 4%2 - gives remainder, 4/2 - gives quotiont value

In [12]:
5+3*2

11

In [13]:
## uses bodmas formula

data type

In [14]:
type(4/2)

float

In [15]:
type(2)

int

In [16]:
type(2.5)

float

In [17]:
type('krish')

str

## type command gives data type like str (string), float, integer, boollean(bool) - these are reserve keywords

In [ ]:
## creating variable to store value that is specifically present in memory

In [19]:
a=10

In [20]:
a=10
b=20

In [21]:
a+b

30

30

In [23]:
type(c)

int

## using boolean values

In [24]:
true

NameError: name 'true' is not defined

In [25]:
## boolean values - always use first letter as Capital

In [26]:
True

True

In [27]:
False

False

In [28]:
True or False

True

In [29]:
True and False

False

In [30]:
True and True

True

In [31]:
type(True)

bool

In [32]:
True | False

True

In [1]:
## difference between | and or - bitwise and logical

In [2]:
a=10
b=20
a+b>30

False

In [3]:
a+b>30 | a-b<30

True

In [4]:
a+b>30 | b-a<30

False

In [5]:
a+b>30 or b-a<30

True

In [7]:
### strings
type('krish')

str

In [8]:
type('k')

str

In [9]:
type('my name is rohit')

str

In [10]:
## single character, senstence or word, in single or double inverted comma(s) will give output
type("my name is rohit")

str

In [11]:
## not to define anything with reserved keyword otherwise

In [26]:
str1="krish is"

In [4]:
str1

NameError: name 'str1' is not defined

##Typecasting

## Typecasting

In [2]:
str(1)

'1'

In [3]:
## above, 1 becomes a string value

In [5]:
## use shift tab to understand meaning of inbuilt function

In [6]:
print(str1)

NameError: name 'str1' is not defined

In [7]:
str1="krish is a boy"

In [8]:
print(str1)

krish is a boy

In [9]:
a=20
a

20

In [10]:
print(a)

20

In [11]:
## if here "a" is written in print() then 20 becomes a string value

In [13]:
str1="a good boy"
str2="a bad boy"
print(str1),print(str2)

a good boy
a bad boy

(None, None)

In [16]:
print(str1)
print(str2)

a good boy
a bad boy

In [17]:
str1+" "+str2

'a good boy a bad boy'

In [22]:
name=print(input("enter your name?"))

enter your name?1
1

In [25]:
name=input("enter your name?")
print(name)

enter your name?1
1

In [1]:
a=input("the number is?")
b=input("the number is")
c=a+b
print("the output is",c)

the number is?23
the number is34
the output is 2334

In [2]:
a=float(input("the number is?"))
b=float(input("the number is"))
c=a+b
print("the output is",c)

the number is?23
the number is34
the output is 57.0

In [3]:
### string formatting
first_name=input("what is your first name")
last_name=input("what is your last name")
print("welcome to ineuron course",first_name,last_name)

what is your first namerohit
what is your last namebaid
welcome to ineuron course rohit baid

In [4]:
### string formatting - using {} - placeholder

first_name=input("what is your first name")
last_name=input("what is your last name")
print("my first name is {} my last name is {}".format(first_name,last_name))

what is your first namerohit
what is your last namebaid
my first name is rohit my last name is baid

In [5]:
## if order changed

first_name=input("what is your first name")
last_name=input("what is your last name")
print("my first name is {firstname} my last name is {lastname}".format(lastname=last_name,firstname=first_name))

what is your first namerohit
what is your last namebaid
my first name is rohit my last name is baid

## variable or dynamic typing

In [6]:
a=10
type(a)

int

In [7]:
a=10.5
type(a)

float

In [8]:
a="rohit"
type(a)

str

## strong typing

In [9]:
'rohit' + 1

TypeError: can only concatenate str (not "int") to str

In [10]:
## above error coz of 2 different data types, cant be concatenated

In [11]:
1 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
1 + int("2")

3

### conditional statements

In [16]:
## if elif

a=int(input("enter the number 1?"))
b=int(input("enter the number 2?"))
c=a-b
if c<0:
    print("the number is negative")
else:
    print("the number is positive")

enter the number 1?10
enter the number 2?20
the number is negative

In [17]:
## if elif

a=int(input("enter the number 1?"))
b=int(input("enter the number 2?"))
c=a-b
print("the output is",c)
if c<0:
    print("the number is negative")
else:
    print("the number is positive")

enter the number 1?10
enter the number 2?50
the output is -40
the number is negative

In [18]:
## if elif

a=int(input("enter the number 1?"))
b=int(input("enter the number 2?"))
c=a-b
print("the output is",c)
if c<0:
    print("the number is negative")
elif c>40:
    print("the difference is huge")
else:
    print("the number is positive")

enter the number 1?100
enter the number 2?200
the output is -100
the number is negative

In [19]:
## if elif

a=int(input("enter the number 1?"))
b=int(input("enter the number 2?"))
c=a-b
print("the output is",c)
if c<0:
    print("the number is negative")
elif c>40:
    print("the difference is huge")
else:
    print("the number is positive")

enter the number 1?50
enter the number 2?20
the output is 30
the number is positive

In [21]:
## if elif

a=int(input("enter the number 1?"))
b=int(input("enter the number 2?"))
c=a-b
print("the output is",c)
if c<0:
    print("the number is negative")
elif c>40:
    print("the difference is huge")
else:
    print("the number is positive")

enter the number 1?50
enter the number 2?5
the output is 45
the difference is huge

## data structure types

1. list
2. tuple
3. string
4. dictionary
5. sets

In [22]:
## list
lst=[1,2,3,"krish","naik"]

In [23]:
lst

[1, 2, 3, 'krish', 'naik']

In [24]:
lst[3]

'krish'

In [25]:
lst[4]

'naik'

In [26]:
type(lst[4])

str

In [27]:
type(lst)

list

In [28]:
type(lst[0])

int

In [29]:
lst.append("ineuron")

In [30]:
lst

[1, 2, 3, 'krish', 'naik', 'ineuron']

In [31]:
## to replace in list - to replace 3 with data science
lst[2]="data science"
print(lst)

[1, 2, 'data science', 'krish', 'naik', 'ineuron']

In [32]:
lst.count("krish")

1

## Indexing

In [33]:
## String indexing
str1="krish"
str1

'krish'

In [34]:
str1[3]

's'

In [35]:
str1[3]="i"

TypeError: 'str' object does not support item assignment

In [36]:
## important - once string defined, its components cannot be changed but in a list it can be changed
## so string is immutable